* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
}
:root {
  --bg-color-dark: #403d39;
  --bg-color-light: #f0f0f0;
  --bg-color-header-1: #333333;
  --text-color-main: #ffcc00;
}
