.App {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  
}


.Header{

  padding: 40px;
  background-color: tomato;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.Input-container{
  display: flex;
  flex-direction: column;
}

.Input{

  padding: 10px;
 
}