.App {
  text-align: center;
}

.header{
  border:1px solid lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  list-style: none;
  
  
}

.header a{
  text-decoration: unset;
  color: black;
}


.footer{
  border:1px solid lightblue;
}

