.App {
  text-align: center;
}

.header{
  border:1px solid lightblue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
  list-style: none;
  
  
}

.header li{
  margin-left: 20px;
}

.header a{
  text-decoration: unset;
  color: black;
}


.footer{
  border:1px solid lightblue;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

