* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #eceff4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-btn {
  background-color: #ff5e5b;
  border: none;
  font-weight: 400px;
  letter-spacing: 2px;
  font-size: 14px;
  color: #fff;
  box-shadow: 4ppx 4px 8px #b4b0b0;
  padding: 10px;
  border-radius: 5px;
}

.App-btn:hover {
  background-color: #f15025;
}
