.section3 {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color-dark);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.header {
  text-align: center;
  width: 100%;
  background-color: var(--bg-color-header-1);
  color: #fff;
  padding: 20px;
}
.Content {
  display: flex;
  height: 100%;
  justify-content: space-around;
  /* align-items: center; */
  gap: 50px;
  flex: 1;
}
.left {
  flex: 0.5;
}
.leftContent {
  padding: 80px;
}
.leftContent label {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color-main);
}
.innerRight {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.progressBar {
  width: 500px;
}
.right {
  flex: 0.5;
  background-color: yellow;
}

@media only screen and (max-width: 900px) {
  .section3 {
    height: 100%;
  }
  .Content {
    flex-direction: column;
  }
}
