.section3 {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color-dark);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.header {
  text-align: center;
  width: 100%;
  background-color: var(--bg-color-header-1);
  color: #fff;
  padding: 20px;
}
.Content {
  display: flex;
  height: 100%;
  justify-content: space-around;
  /* align-items: center; */
  gap: 50px;
  flex: 1;
}
.left {
  flex: 0.5;
}
.leftContent {
  padding: 80px;
}
.leftContent label {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color-main);
}
.innerRight {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.circle {
  margin: 0px;
}
.label {
  text-align: center;
  display: block;
  margin: 10px 0;
}
.progressBar {
  width: 500px;
}
.right {
  flex: 0.5;
  /* background-color: var(--text-color-main); */
  background-image: url("../../images/background-blob.svg");
  background-size: 900px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px) {
  .section3 {
    height: 100%;
  }
  .Content {
    flex-direction: column;
  }
  .right {
    background-size: 700px;
    background-position: right;
  }
}
@media only screen and (max-width: 900px) {
  .section3 {
    height: 100%;
  }
  .Content {
    flex-direction: column;
  }
  .right {
    background-size: 700px;
    background-position: right;
  }
}
@media only screen and (max-width: 600px) {
  .progressBar {
    width: 100%;
  }
  .right {
    background-size: 700px;
  }
}
